html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: azure;
}
html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
}
/*----------Landing Page-----------*/
#particles-js {
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
h1 {
  font-family: "Bebas Neue", cursive;
  color: beige;
  font-size: 40px;
}
p{
  font-family: 'Estonia', cursive;
  color: rgb(255, 157, 0);
  font-size: 30px;
}
.stats{
  display:inline-grid;
  grid-template-columns: 50% 50%;
  font-size: 13px;
  font-family: 'Architects Daughter', cursive;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

a{
  text-decoration: none;

}
.button1:hover input{
  background-color: rgb(81, 255, 0);
}
.button2:hover input{
  background-color: rgb(255, 72, 0);
}



input {
    width: 300px;
    margin: 20px 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    font-size: 1.9em;
    text-align: center;
  }
}


/*-----Particles JS-----styling------*/
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
